<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="Bxmigrate test suite">
            <directory>tests/bxmigrate</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
